
<div class="cards" *ngIf="users.length">
  <div *ngFor="let user of users">
    <div class="card" style="background-color: {{ user.color }}">
      <img src="{{ user.avatar }}" class="card-img-top" loading="lazy">
      <div class="card-body">
        <h5 class="card-title">{{ user.first_name }} {{ user?.last_name }}</h5>
        <span>Email : {{ user.email }}</span>
        <span>Country : {{ user.country }}</span>
        <span>City : {{ user.city }}</span>
        <span>Gender : {{ user.gender }}</span>
      </div>
    </div>
  </div>
</div>
<div class="loading" *ngIf="!users.length">
  <div class="lds-default">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>

<!--<router-outlet></router-outlet>-->
